<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<script>
var oPostList = [];

$(document).ready(function(){
	$("#btnInitForm").bind("click",function(){
		var adminToken = $("#adminToken").val();
		
		$("#blogInputFrm").initForm();
		$("#adminToken").val(adminToken);
	});
	
	$("#btnSavePost").bind("click",function(){
		commonUtil.callService("savePost",$("#blogInputFrm").serializeJSON(",",true) ,true, function(output){
			//alert(output);
			getPostList();
		});
	});	
	
	$("#btnDelPost").bind("click",function(){
		if(!confirm("Are You surely want to delete this post?")) return;
		var oInput = $("#blogInputFrm").serializeJSON(",",true);
		if(!oInput._id||oInput._id.lenght < 2) {
			alert("No post is selected!!");
			return;
		}
		commonUtil.callService("delPost", oInput,true, function(output){
			//alert(output);
			getPostList();
			$("#btnInitForm").trigger("click");
		});
	});
	
	//트랙백 보내기
	$("#btnSendTrackback").bind("click",function(){
		if(!confirm("Are You surely want to Send Trackback??")) return;
		var oInput = $("#blogInputFrm").serializeJSON(",",false);
		if(!oInput._id||oInput._id.lenght < 2) {
			alert("No post is selected!!");
			return;
		}
		//TO DO 이것은 크로스브라우징.. @@;;
		alert(oInput.trackbackUrl);
		$.ajax({
			async : false,
			type: "post",
			url: oInput.trackbackUrl,
			data: {
				"url":"http://sizers.cloudfoundry.com/postview/"+oInput._id,
				"title":oInput.postTitle,
				"blog_name":"blog. SIZERS",
				"excerpt":oInput.postContent.substring(0,30)
			},
			success : function (result) {
				alert(result);
			},
			error: function(xhr, status, error) {
				alert("Failed to Call Quick Ajax Svc");
				//var err = eval!("(" + xhr.responseText + ")");
				//$.growlUI('Error', err.Message, 20000);
			}
		});
		
	});
	
	
	$("#blogPostList div").live("click",function(){
		for(var i=0;i<oPostList.length;i++){
			if(oPostList[i]._id == this.id){
				$("#blogInputFrm").setFormJSON(oPostList[i]);
			}
		}
	});
	
	getPostList();

});

function getPostList(){
	$("#blogPostList").empty();
	commonUtil.callService("getPostList",{} ,true, function(output){
		//alert(output);
		var oRtn = JSON.parse(output);
		oPostList = oRtn.blogposts;
		//alert(oPostList.length);
		for(var i=0;i<oPostList.length;i++){
			$("#blogPostList").append("<div id='"+oPostList[i]._id+"'> - "+ oPostList[i].postTitle +"</div>");
		}
	});
}

function dynamicJqFormSubmit(url, paramObj, name, successFunc){
	jqForm = $("<form/>");
	for(var key in paramObj){  
		jqForm.append($("<input type='hidden' name='"+ key +"' value='"+ paramObj[key] +"'/>"));
	}
	jqForm.attr("action",url);
	jqForm.attr("method","post");
	if(name) jqForm.attr("target",name);// if you want to submit to specific target
	$("body").append(jqForm);
	//jqForm.trigger("submit");
	$("#frm").ajaxForm({
		dataType:'xml',
		//beforeSubmit: frmCheck, //폼유효성 검사
		success:function(data, rst){   
			//$('#obj').innerHTML = data;
			alert(data);
		}
	});
	jqForm.remove();
}
</script>


<div class="centerTitle">Blog Admin</div><br/>

<br/><br/>
<input type="button" id="btnInitForm" value="Init"/>
<input type="button" id="btnSavePost" value="Save"/>
<input type="button" id="btnDelPost" value="Delete"/>
<input type="button" id="btnSendTrackback" value="Send Trackback"/>
<br/><br/>
<div id="blogInputFrm">
	<input type="hidden" id="adminToken" name="adminToken" value="<%=adminToken%>"/>
	<input type="text" id="_id" name="_id" style="width:200px" readonly/>
	<select name="postCate">
		<option value="dev">Develope</option>
		<option value="pol">Politics</option>
		<option value="les">Leisure</option>
	</select><br/>
	<input type="text" name="postTitle" style="width:95%"/><br/>
	<textarea name="postContent"  style="width:95%;height:300px"></textarea><br/>
	<label style="width:20%">트랙백</label><input type="text" name="trackbackUrl" style="width:75%">
</div>
<br/><br/>
<b>Post List</b><br/>
<div id="blogPostList">

</div>
