<script type="text/javascript" src="/javascripts/jquery.form.js"></script>
<script>
var oPostList = [];

$(document).ready(function(){
	$("#btnInitForm").bind("click",function(){
		var adminToken = $("#adminToken").val();
		
		$("#blogInputFrm").initForm();
		$("#adminToken").val(adminToken);
	});
	
	$("#btnSavePost").bind("click",function(){
		commonUtil.callService("savePost",$("#blogInputFrm").serializeJSON(",",true) ,true, function(output){
			//alert(output);
			getPostList();
		});
	});	
	
	$("#btnDelPost").bind("click",function(){
		if(!confirm("Are You surely want to delete this post?")) return;
		var oInput = $("#blogInputFrm").serializeJSON(",",true);
		if(!oInput._id||oInput._id.lenght < 2) {
			alert("No post is selected!!");
			return;
		}
		commonUtil.callService("delPost", oInput,true, function(output){
			//alert(output);
			getPostList();
			$("#btnInitForm").trigger("click");
		});
	});
	
	//트랙백 보내기
	$("#btnSendTrackback").bind("click",function(){
		if(!confirm("Are You surely want to Send Trackback??")) return;
		var oInput = $("#blogInputFrm").serializeJSON(",",false);
		if(!oInput._id||oInput._id.lenght < 2) {
			alert("No post is selected!!");
			return;
		}
		
		//Call Service
		commonUtil.callService("sendTrackback",oInput ,true, function(output){
			alert(output);
			//getPostList();
		});
		/*
		No 2
		var jqForm = commonUtil.makeForm(oInput.trackbackUrl, {
			"url":"http://sizers.cloudfoundry.com/postview/"+oInput._id,
			"title":oInput.postTitle,
			"blog_name":"sizers",
			"excerpt":oInput.postContent.substring(0,50)+"..."
		},"_blank");
		$("body").append(jqForm);
		jqForm.submit();
		*/
		/*
		No 1
		jqForm.ajaxSubmit({
	        //target:        '#output2',   // target element(s) to be updated with server response 
	        beforeSubmit:  function(){alert('ttt')},//showRequest,  // pre-submit callback 
	        success : function(responseText, statusText){//, xhr, $form)  { 
	            // for normal html responses, the first argument to the success callback 
	            // is the XMLHttpRequest object's responseText property 
	         
	            // if the ajaxSubmit method was passed an Options Object with the dataType 
	            // property set to 'xml' then the first argument to the success callback 
	            // is the XMLHttpRequest object's responseXML property 
	         
	            // if the ajaxSubmit method was passed an Options Object with the dataType 
	            // property set to 'json' then the first argument to the success callback 
	            // is the json data object returned by the server 
	         
	            alert('status: ' + statusText + '\n\nresponseText: \n' + responseText + 
	                '\n\nThe output div should have already been updated with the responseText.'); 
	        } 

	        //success:       showResponse  // post-submit callback 	 
	        // other available options: 
	        //url:       url         // override for form's 'action' attribute 
	        //type:      type        // 'get' or 'post', override for form's 'method' attribute 
	        //dataType:  null        // 'xml', 'script', or 'json' (expected server response type) 
	        //clearForm: true        // clear all form fields after successful submit 
	        //resetForm: true        // reset the form after successful submit 
	        // $.ajax options can be used here too, for example: 
	        //timeout:   3000 
		}); 
		*/
		jqForm.remove();
		/*
		//TO DO 이것은 크로스도메인.. @@;;
		alert(oInput.trackbackUrl);
		$.ajax({
			async : false,
			type: "post",
			url: oInput.trackbackUrl,
			data: {
				"url":"http://sizers.cloudfoundry.com/postview/"+oInput._id,
				"title":oInput.postTitle,
				"blog_name":"blog. SIZERS",
				"excerpt":oInput.postContent.substring(0,30)
			},
			success : function (result) {
				alert(result);
			},
			error: function(xhr, status, error) {
				alert("Failed to Call Quick Ajax Svc");
				//var err = eval!("(" + xhr.responseText + ")");
				//$.growlUI('Error', err.Message, 20000);
			}
		});
		*/
	});
	
	
	$("#blogPostList div").live("click",function(){
		for(var i=0;i<oPostList.length;i++){
			if(oPostList[i]._id == this.id){
				$("#blogInputFrm").setFormJSON(oPostList[i]);
			}
		}
	});
	
	getPostList();

});

function getPostList(){
	$("#blogPostList").empty();
	commonUtil.callService("getPostList",{} ,true, function(output){
		//alert(output);
		var oRtn = JSON.parse(output);
		oPostList = oRtn.blogposts;
		//alert(oPostList.length);
		for(var i=0;i<oPostList.length;i++){
			$("#blogPostList").append("<div id='"+oPostList[i]._id+"'> - "+ oPostList[i].postTitle +"</div>");
		}
	});
}

</script>


<div class="centerTitle">Blog Admin</div><br/>

<br/><br/>
<input type="button" id="btnInitForm" value="Init"/>
<input type="button" id="btnSavePost" value="Save"/>
<input type="button" id="btnDelPost" value="Delete"/>
<input type="button" id="btnSendTrackback" value="Send Trackback"/>
<br/><br/>
<div id="blogInputFrm">
	<input type="hidden" id="adminToken" name="adminToken" value="<%=adminToken%>"/>
	<input type="text" id="_id" name="_id" style="width:200px" readonly/>
	<select name="postCate">
		<option value="dev">Develope</option>
		<option value="pol">Politics</option>
		<option value="les">Leisure</option>
	</select><br/>
	<input type="text" name="postTitle" style="width:95%"/><br/>
	<textarea name="postContent"  style="width:95%;height:300px"></textarea><br/>
	<label style="width:20%">트랙백</label><br/>
	트랙백URL : <input type="text" name="trackbackUrl" style="width:75%"><br/>
	제목 : <input type="text" name="trackbackTitle" style="width:75%"><br/>
	포스트URL : <input type="text" name="trackbackPostUrl" style="width:75%"><br/>
</div>
<br/><br/>
<b>Post List</b><br/>
<div id="blogPostList">

</div>
