<div class="centerTitle">HOME</div><br/>
<div id="mainpan">
	<table border=0 cellpadding=5 cellspacing=0 width=100%>
	<tr>
		<td>
			<div class="mblock"><div class="inmblock">
				<h3>About this blog..</h3>
				<p>
				<ul>
					<li>node.js를 공부하면서 뭔가 만들어볼걸 찾던 중 만만한거 같아 블로그를 만들게 됨.. </li>
					<br/>
					<li>아직 블로그라고 하기에는 좀 부족하지만 지속적으로 업그레이드 할 것임</li>
					<br/>
					<li>Server Side : node.js + express(ejs) + mongodb(mongoose) 기반으로로  만들었음</li>
					<br/>
					<li>Client Side : 주로 jQuery, jQuery Plugin 을 사용하여 만들었음</li>
					<br/>
					<li>방명록과 댓글은 소셜댓글서비스인 disqus를 사용함(IE에서 보안경고가 뜨는 경우가 있음)</li>
					<br/>
					<li>소스코드는 github에 공개되있음 <a href="https://github.com/sizers/blog_sizers" target="_blank">https://github.com/sizers/blog_sizers</a></li>
					<br/>
					<li>아직 추가해야 할 기능이 많음. RSS, trackback, tag, 파일핸들링, 탬플릿기능 등등..</li>
					<br/>
					<li>디자인도 좀 구린거 같음..(자원봉사 해주실 디자이너 환영)</li>
					<br/>
					<li>이 블로그는 현재 node.js는 <a href="http://www.cloudfoundry.com" target="_blank">cloudfoundry</a>에서, 
						mongodb는 <a href="http://www.mongolab.com" target="_blank">mongolab.com</a>에서 무료호스팅을 받고 있음</li>
					<br/>
					<li>아마존EC2 등으로 갈아타기 전까진 아마도 계속 sizers.cloudfoundry.com 을 유지할듯..</li>
					<br/>
					<li>한국의 SW산업도 질적으로 성장해서, 한국의 SW엔지니어들도 node.js같은 상큼한 것들을 많이 만들어내는 시대가 왔으면..</li>
					<br/>
					<li>국내에서도 오픈소스프로젝트들이 활성화 됬으면..</li>
					<br/>
					<li>노드의 노자도 몰랐었는데 도움을 주신분들 감사.. 옥히의 kenu형, node.js 프로그래밍 책 쓰신 outsider님, javarouka님 등..</li>
				</ul>
				</p>
		
			</div></div>
		</td>
		<td valign="top">
			<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 4,
			  interval: 30000,
			  width: 250,
			  height: 300,
			  theme: {
			    shell: {
			      background: '#333333',
			      color: '#ffffff'
			    },
			    tweets: {
			      background: '#000000',
			      color: '#ffffff',
			      links: '#4aed05'
			    }
			  },
			  features: {
			    scrollbar: false,
			    loop: false,
			    live: false,
			    behavior: 'all'
			  }
			}).render().setUser('OralHazard').start();
			</script>
		</td>
	</tr>
	</table>

</div>